@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap");

:root {
  --maincolor: rgb(243, 213, 130);
  --highlights: rgb(114, 105, 78);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
  color: white;
}

html {
  scroll-behavior: smooth;
  background-image: url(images/header-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Nav bar section */

nav {
  position: sticky;
  top: 0;
  padding: 0.4rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--highlights);
}

#mainCover {
  background-color: rgba(0, 0, 0, 0.4);
  max-height: fit-content;
}

#nav_head a {
  color: white;
  font-size: 2.4rem;
  letter-spacing: 3px;
}

#book {
  color: white;
  font-size: 0.8rem;
  background-color: black;
  padding: 0.8rem 1.6rem;
  border-radius: 3rem;
  border: 2px solid var(--maincolor);
  transition: 0.2s ease-in-out;
}

#book:hover {
  color: white;
  background-color: var(--maincolor);
}

/* header area */

header {
  background-image: url("images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem !important;
  height: 100vh;
}

span {
  color: var(--maincolor);
  font-family: "Pacifico";
  letter-spacing: 2px;
  font-weight: 600;
}

#mainWord,
#mainBtn {
  flex: 1;
  max-width: 40rem;
}

#mainWord h1 {
  font-size: 3.4rem;
  font-weight: 700;
}

#mainWord p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

#cta {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;
}

#mainBtn,
#playBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#playBtn {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--maincolor);
  font-size: 4rem;
  transition: 0.2s ease-in;
}

#playBtn:hover {
  border: 2px solid var(--maincolor);
  color: var(--maincolor);
  background-color: transparent;
}

/* about section of the page */

#about {
  background-image: url(images/about-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  min-height: 100vh;
  max-width: 100% !important;
  border-bottom: 2px solid var(--highlights);
  justify-content: center !important;
}

#about,
#aboutCover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30rem;
  gap: 4rem;
  flex-wrap: wrap;
}

#aboutWord,
#aboutImg {
  flex: 1;
  max-width: 40rem;
}

#aboutWord h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: "Times New Roman", Times, serif;
}

#aboutWord p {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-style: italic;
}

#aboutWord li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

#aboutWord li p {
  margin-bottom: 0;
  font-style: normal;
}

#aboutWord ul {
  margin-bottom: 2rem;
}

#aboutWord h3 {
  font-weight: 100;
  font-size: 1.3rem;
}

#aboutImg {
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  border: 2px solid var(--maincolor);
  height: auto;
  max-width: 40rem;
}

#aboutImg img {
  width: 100%;
  max-width: 40rem;
}

/* Menu section */

#menu {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: fit-content;
  border-bottom: 2px solid var(--highlights);
}

#menu_holder {
  max-width: 80rem;
  text-align: start;
  padding: 1rem 4rem;
  max-height: fit-content;
}

#menu_holder h1 {
  font-size: 10vh;
  margin-bottom: 1rem;
}

#menu_holder p {
  font-size: 1.4rem;
}

#menu_img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 2rem;
}

#menu_img img {
  width: 100%;
  height: auto;
}

#menu_img div {
  max-width: 34rem;
  max-height: 22rem;
  overflow: hidden;
  border: 2px solid var(--highlights);
}

#menucorner1,
#menucorner2 {
  width: 5rem;
  height: 5rem;
  position: absolute;
  border: none !important;
}

#menucorner1 {
  border-top: 4px solid var(--maincolor) !important;
  border-left: 4px solid var(--maincolor) !important;
  top: 0;
  left: 0;
}

#menucorner2 {
  border-bottom: 4px solid var(--maincolor) !important;
  border-right: 4px solid var(--maincolor) !important;
  bottom: 0;
  right: 0;
}

/* reservation section */

#reserve,
#contact {
  background-color: black;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  min-height: 100vh;
  border-bottom: 2px solid var(--highlights);
}

#reserveHolder,
#reserveHolder form,
#reserver,
#contactHolder,
#aboutCover, #footer {
  max-width: 70rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#reserveHolder,
#reserveHolder form {
  flex-direction: column;
}

#reserveHolder form {
  gap: 2rem 1rem;
}

#reserveHolder p {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#reserveHolder h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

#reserver {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem 1rem;
}

#reserver input,
#message textarea {
  background-color: transparent;
  border: 1px solid var(--highlights);
  font-size: 1rem;
  padding: 1rem;
  width: 30rem;
}

#reserver input::placeholder,
#message textarea::placeholder,
#contactReachout form input::placeholder,
#contactReachout form textarea::placeholder {
  color: var(--highlights);
}

#reserver input:focus-visible,
#message textarea:focus-visible,
#contactReachout form input:focus-visible,
#contactReachout form textarea:focus-visible {
  border: 1px solid var(--maincolor);
}

#message textarea {
  min-height: 10rem;
}

#contactHolder,
#contactReachout form fieldset {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  max-width: 70rem;
}

#contactReachout form input,
#contactReachout form textarea {
  background-color: transparent;
  border: 1px solid var(--highlights);
  font-size: 1rem;
  padding: 1rem;
  width: 20rem;
}

.cd,
.cdIcon {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.cdIcon {
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--highlights);
  color: white;
  justify-content: center;
  border-radius: 50%;
}

.cd div {
  margin-bottom: 2rem;
}

.cd div h1 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#contactHolder {
  align-items: start;
  gap: 2rem;
}

#contactReachout form textarea {
  min-height: 10rem;
  width: 100%;
}

/* footer section */

footer{
  min-height: 20vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

#footer{
  flex-wrap: wrap;
  gap: 2rem 3rem;
  max-width: 100%;
}

#footDetail h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}

#footDetail p{
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#socials, #socials div a{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;
}

#footLink p{
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#footLink ul{
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  flex-direction: column;
}

#footLink li a{
  font-size: 1.4rem;
  transition: .4rem ease-in-out;
}

#footLink li a:hover{
  color: var(--maincolor);
}

#socials div a{
  justify-content: center !important;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--maincolor);
  background-color: gray;
}

#footNews h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}

#footNews p{
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

#newsInput{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background-color: white;
  max-width: 30rem;
  border: 2px solid var(--maincolor);
}

#newsInput input{
  padding: 1rem;
  background: transparent;
  max-width: 10rem;
  color: black;
}

#newsInput button{
  border-radius: 10rem;
  background-color: var(--maincolor);
  height: 3rem;
  width: 6rem;
  cursor: pointer;
  transition: .4s ease-in-out;
}

#newsInput button:hover{
  color: black;
  background-color: white;
  border: 2px solid var(--maincolor);
}

#copy {
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
  margin: 2rem;
}

/* to the top button */
#toTheTop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2rem;
  right: 2rem;
  font-size: 2rem;
  background-color: var(--maincolor);
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

@media all and (max-width: 800px) {
  #nav_head a {
    font-size: 1.2rem;
    letter-spacing: 3px;
  }

  #main,
  #aboutCover, #menu_holder {
    padding: 1.8rem;
  }

  #mainWord h1,
  #menu_holder h1 {
    font-size: 2.6rem;
  }

  #mainWord {
    flex: none;
    width: 100%;
  }

  #mainWord p {
    font-size: 1rem;
  }

  #book {
    font-size: 0.6rem;
    padding: 0.4rem 1rem;
  }

  nav #book {
    display: none;
  }

  #playBtn {
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
  }

  #aboutWord,
  #aboutImg {
    flex: none;
    width: fit-content;
  }

  #aboutCover {
    padding: 1rem;
    flex-direction: row;
  }

  #aboutWord h1,
  #menu_holder h1 {
    font-size: 1.4rem;
  }

  #aboutWord p,
  #aboutWord h3,
  #aboutWord li,
  #menu_holder p {
    font-size: 1rem;
  }

  #reserver input,
  #message textarea,
  #contactReachout form input,
  #contactReachout form textarea {
    width: 100%;
  }

  .cdIcon {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--highlights);
    color: white;
    justify-content: center;
    border-radius: 50%;
  }

  .cd div {
    margin-bottom: 2rem;
  }

  .cd div h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  footer{
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--highlights);
  }

  #copy {
    display: none;
  }

  #toTheTop{
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
  }
}
